<!-- main.hbs-->

<!doctype html>
<html class="no-js" lang="">



<head>
    <meta charset="UTF-8">
    <title>COCKTAIL CODEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,noarchive, nofollow" />
    <link href="/css/style.css" rel="stylesheet" type='text/css' media='screen'>
    <script src="https://kit.fontawesome.com/12d17824f6.js" crossorigin="anonymous"></script>


    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
</head>


<body>

    <style>

    </style>

    <div class="title">
        <h1 class="fa-solid fa-martini-glass-citrus">COCKTAIL CODEX</h1>
    </div>

    <div class="navbar">


        <div class="navbar-links">
            <a href="/">HOME</a>
            <span class="small-separator">|</span>
            <a href="/cocktails">COCKTAILS</a>
            <span class="small-separator">|</span>
            <a href="/ingredients">INGREDIENTS</a>
            <span class="small-separator">|</span>
            <a href="/categories">CATEGORIES</a>
            <span class="small-separator">|</span>
            <a href="/tools">TOOLS</a>
            <span class="small-separator">|</span>
            <a href="/customers">CUSTOMERS</a>
            <span class="center-separator">|</span>
            <a href="/cocktailIngredients">COCKTAILS & INGREDIENTS</a>
            <span class="small-separator">|</span>
            <a href="/cocktailTools">COCKTAILS & TOOLS</a>
            <span class="small-separator">|</span>
            <a href="/drinkCategoriesCustomers">CUSTOMERS & CATEGORIES</a>
            <span class="small-separator">|</span>
        </div>
    </div>

    </div>
    <main>
        <section>
            {{{body}}}

        </section>

        <p></p>
        <script src="js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </main>

    <footer>&#169 2024 Robert MacPherson & Alex Blumenstock</footer>

</body>

</html>