      <h2>The Categories</h2>

      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Old Fashioned</td>
          <td>Stirred spirit on ice with sweet component</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Daiquiri</td>
          <td>Shaken spirit served up with lime</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Martini</td>
          <td>Stirred spirit served up with no additional sweetener</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Highball</td>
          <td>Spirit with soda or bubbles</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Flip</td>
          <td>Spirit with cream and egg</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Sidecar</td>
          <td>Shaken spirit with lemon</td>
        </tr>
      </table>

      <h3>ADD CATEGORY:</h3>
      <form>
        <label>
          Name:
          <input type="text">
        </label><br>
        <label>
          Description:
          <input type="text">
        </label><br>
        <input type="submit" value="Add Category">
      </form>

      <h3>UPDATE CATEGORY:</h3>

      <form>
        <label>Select a Category to Modify:</label>
        <label>
          <select name="categories">
            <option value="Old Fashioned">Old Fashioned</option>
            <option value="Daiquiri">Daiquiri</option>
            <option value="Martini">Martini</option>
            <option value="Highball">Highball</option>
            <option value="Flip">Flip</option>
            <option value="Sidecar">Sidecar</option>
          </select>
        </label>
        <br>
        <label>
          Name:
          <input type="text">
        </label><br>
        <label>
          Description:
          <input type="text">
        </label><br>
        <input type="submit" value="Update">
        <input type="submit" value="Delete">
      </form>
