<div>
  <h2>Cocktails + Tools Intersection Table</h2>
  <br>
  <table>
    <tr>
      <th>cocktailToolID</th>
      <th>toolID</th>
      <th>cocktailID</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
  </table>
</div>