<div>
  <h2>Cocktails + Ingredients Intersection Table</h2>
  <br>
  <table>
    <tr>
      <th>Cocktails Ingredients ID</th>
      <th>Cocktail ID</th>
      <th>Ingredient ID</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1</td>
      <td>4</td>
    </tr>
  </table>
</div>

<h3>ADD RELATIONSHIP:</h3>

<form>
  <label>
    Cocktail Ingredients ID:
    <input type="text">
  </label><br>
  <label>
    Cocktail ID:
    <input type="text">
  </label><br>
  <label>
    Ingredient ID:
    <input type="text">
  </label><br>
</form>

<div>
  <h3>UPDATE RELATIONSHIP:</h3>

  <form>
    <label>
      Cocktail Ingredients ID:
      <input type="text">
    </label><br>
    <label>
      Cocktail ID:
      <input type="text">
    </label><br>
    <label>
      Ingredient ID:
      <input type="text">
    </label><br>
  </form>
</div>