    <div>
      <h2>Cocktails + Ingredients Intersection Table</h2>
      <br>
      <table>
        <tr>
          <th>cocktailsIngredientsID</th>
          <th>cocktailID</th>
          <th>ingredientsIngredientID</th>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>1</td>
          <td>4</td>
        </tr>
      </table>
    </div>