<div>
  <h2>Cocktails + Tools Intersection Table</h2>
  <br>
  <table>
    <tr>
      <th>Cocktail Tool ID</th>
      <th>Tool ID</th>
      <th>Cocktail ID</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
  </table>
</div>

<h3>ADD RELATIONSHIP:</h3>

<form>
  <label>
    Cocktail Tool ID:
    <input type="text">
  </label><br>
  <label>
    Tool ID:
    <input type="text">
  </label><br>
  <label>
    Cocktail ID:
    <input type="text">
  </label><br>
</form>

<div>
  <h3>UPDATE RELATIONSHIP:</h3>

  <form>
    <label>
      Cocktail Tool ID:
      <input type="text">
    </label><br>
    <label>
      Tool ID:
      <input type="text">
    </label><br>
    <label>
      Cocktail ID:
      <input type="text">
    </label><br>
  </form>
</div>