<div>
  <h2>Categories + Customers Intersection Table</h2>
  <br>
  <table>
    <tr>
      <th>customerID</th>
      <th>drinkCategoryID</th>
    </tr>
    <tr>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>6</td>
    </tr>
  </table>
</div>