<div>
  <h2>Categories + Customers Intersection Table</h2>
  <br>
  <table>
    <tr>
      <th>Customer ID</th>
      <th>Drink Category ID</th>
    </tr>
    <tr>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>6</td>
    </tr>
  </table>
</div>

<h3>ADD RELATIONSHIP:</h3>

<form>
  <label>
    Customer ID:
    <input type="text">
  </label><br>
  Drink Category (By ID#):
  <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
  <input type="radio" name="drink_category" value="2"> 2: Daiquiri
  <input type="radio" name="drink_category" value="3"> 3: Martini
  <input type="radio" name="drink_category" value="4"> 4: Highball
  <input type="radio" name="drink_category" value="5"> 5: Flip
  <input type="radio" name="drink_category" value="6"> 6: Sidecar
  </label><br>
  <input type="submit" value="Add Customer">
</form>

<div>
  <h3>UPDATE RELATIONSHIP:</h3>

  <form>
    <label>
      Customer ID:
      <input type="text">
    </label><br>
    Drink Category (By ID#):
    <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
    <input type="radio" name="drink_category" value="2"> 2: Daiquiri
    <input type="radio" name="drink_category" value="3"> 3: Martini
    <input type="radio" name="drink_category" value="4"> 4: Highball
    <input type="radio" name="drink_category" value="5"> 5: Flip
    <input type="radio" name="drink_category" value="6"> 6: Sidecar
    </label><br>
    <input type="submit" value="Add Customer">
  </form>
</div>