<h2>The Codex</h2>

<p>Cocktail Codex is a cocktail recipe book web app that stores and displays classic and user-added recipes, to
  ensure consistency among staff, proper usage of inventory, and to eliminate waste and spillage for busy
  nightlife
  businesses. A database-driven backend records cocktail ingredients and recipes these ingredients can be used in.
  It
  also
  relates amongst the different sub-categories of cocktails, allowing for seamless guest experiences by creating
  recipe
  based recommendations for similar ingredients and taste preferences. Each item is tracked by its own inventory
  attribute, allowing for the business to keep track of all items in house.</p>

<br><br>

<table>
  <tr>
    <th>Table</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Cocktails</td>
    <td>Contains all info about individual cocktail recipes.</td>
  </tr>
  <tr>
    <td>Ingredients</td>
    <td>Contains all info about the ingredients used in cocktail production.</td>
  </tr>
  <tr>
    <td>Tools</td>
    <td>Contains all info about the tools needed for production.</td>
  </tr>
  <tr>
    <td>Customers</td>
    <td>Contains all info about our customers and their preferences.</td>
  </tr>
  <tr>
    <td>Drink Categories</td>
    <td>Contains all info about the categories of cocktail recipes.</td>
  </tr>
</table>
<br>