      <h2>The Tools</h2>
      <div>
        <br>
        <table>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          <tr>
            <td>1</td>
            <td>juicer</td>
          </tr>
          <tr>
            <td>2</td>
            <td>shaker tin</td>
          </tr>
          <tr>
            <td>3</td>
            <td>bar spoon</td>
          </tr>
          <tr>
            <td>4</td>
            <td>mixing glass</td>
          </tr>
        </table>
      </div>

      <div>
        <div>
          <h3>ADD TOOL:</h3>
          <form>
            <label>
              Name:
              <input type="text">
            </label><br>
            <input type="submit" value="Add Tool">
          </form>
        </div>
        <div>
          <h3>UPDATE TOOL: </h3>
          <form>
            <label>Select a Tool to Update:</label>
            <label>
              <select name="cocktails">
                <option value="bar-spoon">Bar Spoon</option>
                <option value="mixing-glass">Mixing Glass</option>
                <option value="shaker-tin">Shaker Tin</option>
                <option value="strainer">Hawthorne Strainer</option>
                <option value="muddler">Muddler</option>
              </select>
            </label>
            <br>
            <label>
              Name:
              <input type="text">
            </label><br>
            <input type="submit" value="Update">
            <input type="submit" value="Delete">
          </form>
        </div>
      </div>